.main-nav {
    background-color: rgba(0, 0, 0, .6);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.main-nav nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    /* max-width: 1100px; */
}


.main-nav .logo {
    margin-top:auto;
    margin-bottom: auto;
    height: 80%;
    border: 10px solid transparent;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-size: 1em; */
    /* letter-spacing: 1em; */
    padding: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.demo {
    
    background-image:
      linear-gradient(white, white),
      linear-gradient(270deg, #008b8b, #fff 50%, #00A19D 100%);

    background-repeat: no-repeat;
    background-origin: padding-box, border-box;
    text-align: center;
  }

  .animated {
    background-image:
      linear-gradient(#212121, #212121),
      linear-gradient(180deg, #008b8b, #fff 50%, #00A19D);

    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 200%;
    background-position: 0 0, 0 100%;
    background-origin: padding-box, border-box;
    animation: highlight 1s infinite alternate;
  }

  @keyframes highlight {
    100% {
      background-position: 0 0, 0 0;
    }
  }

  

.main-nav .icon {
    display: none;
}

.main-nav .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    padding-top: 15px;
}

.main-nav .nav-menu .link {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: .5rem;
    margin: .5rem;
    cursor: pointer;
    height: 100%;
    font-weight: bold;
    position: relative;
    text-align: center;
    justify-content: center;
}
.main-nav .nav-menu .link:before{
    content: '' !important;
    position: absolute !important;
    top: -2 !important;
    left: -2 !important;
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
    border: 4px solid transparent !important;
}
.main-nav .nav-menu .link:hover:before{
    animation: animate 1s linear forwards !important;
}
@keyframes animate{
    0%{
        width: 0;
        height: 0;
        border-top-color: #008b8b;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: #008b8b;
        border-right-color: #008b8b;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: #008b8b;
        border-right-color: #008b8b;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}


.main-nav .nav-menu .link:after{
    content: '';
    position: absolute;
    top: -2;
    left: -2;
    width: 0;
    height: 0;
    background: transparent;
    border: 4px solid transparent;
}
.main-nav .nav-menu .link:hover:after{
    animation: animate2 1s linear forwards;
}
@keyframes animate2{
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #008b8b;
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #008b8b;
        border-left-color: #008b8b;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #008b8b;
        border-left-color: #008b8b;
    }
}

/* .main-nav .nav-menu .link.active ,.main-nav .nav-menu .link.active:focus{
    border-top: 3px solid #E6E6E6;
    border-bottom: 3px solid #E6E6E6;
} */


/* start edia Query */

@media screen and (max-width: 768px) {
    .main-nav {
        transition: 0.8s all ease;
    }
    .main-nav .icon {
        display: block;
        position: relative;
        top: 10px;
        font-size: 1.8rem;
        cursor: pointer;
        color: white;
    }
    .main-nav .nav-menu {
        display: none;
    }
}