.main-spiner{
    background-color: #212121;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tsparticles-canvas-el{
    position: absolute;
    height: 32rem !important;
    width: 100%;
    z-index: 1;
}